<!DOCTYPE html>
<html lang="en" th:fragment="layout(content, jsCode)" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="turbolinks-cache-control" content="no-cache">

<link rel="stylesheet" th:href="@{/css/bootstrap-4.5.0.min.css}" data-turbolinks-track="reload"/>
<link rel="stylesheet" th:href="@{/css/toastr-2.1.4.min.css}" data-turbolinks-track="reload"/>
<link rel="stylesheet" th:href="@{/css/font-awesome-4.7.0.min.css}" data-turbolinks-track="reload"/>

<link rel="stylesheet" th:href="@{/css/kendo.common.min.css}" data-turbolinks-track="reload"/>
<link rel="stylesheet" th:href="@{/css/kendo.default.min.css}" data-turbolinks-track="reload"/>
<link rel="stylesheet" th:href="@{/css/adminkit-1.0.1.css}" data-turbolinks-track="reload"/>
<link rel="stylesheet" th:href="@{/css/app/app.css}" data-turbolinks-track="reload"/>
<link rel="stylesheet" th:href="@{/css/app/grid_common.css}" data-turbolinks-track="reload" />
<link rel="stylesheet" th:href="@{/css/app/grid_override.css}" data-turbolinks-track="reload" />

<script th:src="@{/js/jquery-3.5.1.min.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/popper-1.16.0.min.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/bootstrap-4.5.0.min.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/toastr-2.1.4.min.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/turbolinks-5.2.0.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/kendo.all.min.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/adminkit-1.0.1.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/js.cookie-2.2.1.min.js}" data-turbolinks-track="reload"></script>


<!--  Application specific js files -->
<script th:src="@{/js/app/common/teardown_widgets.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/app/common/grid_crud.min.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/app/common/custom_ajax.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/app/common/grid_dropdown_helper.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/app/common/main.js}" data-turbolinks-track="reload"></script>

<script th:src="@{/js/app/person_list.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/app/person_project_list.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/app/project_list.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/app/timesheet.js}" data-turbolinks-track="reload"></script>
<script th:src="@{/js/app/timesheet_list.js}" data-turbolinks-track="reload"></script>

</head>
<body data-theme="light" data-layout="fluid" data-sidebar="left">
  <div class="wrapper">
    <!-- START sidebar.html  -->
    <div th:replace="layouts/sidebar :: sidebar"></div>
    <!--  END sidebar.html -->
    <div class="main">
          <!-- START topbar.html  -->
      <div th:replace="layouts/topbar :: topbar"></div>
      <!-- END topbar.html  -->
    
      <main class="content">
        <div class="container-fluid p-0">
      <!-- START dynamic content -->
      <div th:replace="${content}"></div>
      <!-- END dynamic content -->
        </div>
      </main>
    
      <!-- START footer -->
      <div th:replace="layouts/footer :: footer"></div>
      <!-- END footer -->

    </div>
  </div>
  <!-- START dynamic javascript content -->
  <script th:replace="${jsCode}"></script>
  <!-- END dynamic javascript content -->
</body>
</html>